# .gitignore for Bots project code.
#
# 2021 July -- Created -- Ted Strombeck
# Last Updated -- July 31, 2023 
#
# Version 1.1
#

# Byte-compiled
__pycache__/

# Any jar files
*.jar

# macOS windowing placement information
*.DS_Store

# intellij files
*.idea

# vs files
*.vs/


# Sample input files in various MACCS formats
*.2Hz
*.2hz
*.8Hz
*.8hz
*.s2